html {
  scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: black;
    color: #ffffff;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    padding: 10px 20px;
}

.searchInput{
    border: none;
    background-color: transparent;

}

.searchInput::placeholder{
    color: lightgray;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid white;
    cursor: pointer;

}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    align-items: center;
    margin-right: 65px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider{
    background: url("https://w.wallhaven.cc/full/4d/wallhaven-4dr2rj.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    clip-path: polygon(50% 0, 100% 0, 100% 57%, 100% 100%, 50% 100%, 0 85%, 0 0);
}

.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.sliderItem{
    width: 102vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg{
    width: 625px;
    height: 625px;
    border-radius: 50%;
    position: absolute;
}

.sliderImg{
    z-index: 1;
}

.sliderTitle{
    position: absolute;
    top: 8%;
    right: 8%;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
}

.sliderPrice{
    position: absolute;
    top: 10%;
    left: 12%;
    font-size: 60px;
    font-weight: 300;
    z-index: 1;
}

.buyButton{
    position: absolute;
    top: 70%;
    right: 12%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    background-color: black;
    z-index: 1;
    cursor: pointer;
}

.buyButton:hover{
    background-color: white;
    color: black;
}

.sliderItem:nth-child(1) .sliderBg{
    background: url("https://w.wallhaven.cc/full/1k/wallhaven-1kqry9.jpg");
    /*background-color: #F3B73E;*/
    background-position: center right;
    opacity: 0.9;
}

.sliderItem:nth-child(2) .sliderBg{
    background: url("https://pics.craiyon.com/2023-12-29/W8ga5IrLSKiqBkBG8CU3nA.webp");
    /*background-color: #F3B73E;*/
    background-position: center left;
    opacity: 0.9;
}

.sliderItem:nth-child(3) .sliderBg{
    background: url("https://w.wallhaven.cc/full/eo/wallhaven-eojxdk.jpg");
    /*background-color: #F3B73E;*/
    background-position: center top;
    opacity: 0.9;
}

.sliderItem:nth-child(4) .sliderBg{
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/95c81712-297b-4808-97d8-7982b899fed2/dhgqze4-ba122318-2370-4982-acb2-b89ab4e663b9.png/v1/fill/w_1194,h_669,q_70,strp/wallpaper__63_volcanic_eruption_at_night_by_wakakel_dhgqze4-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzk1YzgxNzEyLTI5N2ItNDgwOC05N2Q4LTc5ODJiODk5ZmVkMlwvZGhncXplNC1iYTEyMjMxOC0yMzcwLTQ5ODItYWNiMi1iODlhYjRlNjYzYjkucG5nIiwiaGVpZ2h0IjoiPD03MTgiLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiJcL3dtXC85NWM4MTcxMi0yOTdiLTQ4MDgtOTdkOC03OTgyYjg5OWZlZDJcL3dha2FrZWwtNC5wbmciLCJvcGFjaXR5Ijo5NSwicHJvcG9ydGlvbnMiOjAuNDUsImdyYXZpdHkiOiJjZW50ZXIifX0.T4hku_EgdhFdSI3i0CQPFRHXxG_PA1JGv84TD5aNdQE");
    /*background-color: #F3B73E;*/
    background-position: center top;
    opacity: 0.9;
}

.sliderItem:nth-child(1) .sliderPrice{
    color: white;
    border: 1px solid white;
}

.sliderItem:nth-child(2) .sliderPrice{
    color: white;
    border: 1px solid white;
}

.sliderItem:nth-child(3) .sliderPrice{
    color: white;
    border: 1px solid white;
}

.sliderItem:nth-child(4) .sliderPrice{
    color: white;
    border: 1px solid white;
}

.dbprompts{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon{
    width: 50px; 
    height: 50px;
}

.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDesc{
    color: gray;
    width: 50%;
    height: 100px
}

.product{
    height: 100vh;
    background-color: #f2eeed;
    position: relative;
    clip-path: polygon(50% 0, 100% 0, 100% 57%, 100% 85%, 50% 100%, 0 100%, 0 15%);
}

.payment{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none; /*Will not show payment pop up until the user press the buy button*/
    flex-direction: column;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.payTitle{
    font-size: 20px;
    color: lightgray;
}

label{
    font-size: 14px;
    font-weight: 300;
}

.payInput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}

/* The sample text inside the bars */
.payInput::placeholder{
    color: lightgray;
}a

.cardIcons{
    display: flex;
}

.cardIcon{
    margin-right: 10px;
}

.cardInfo{
    display: flex;
    justify-content: space-between;
}

.sm{
    width: 30%;
}

.payButton{
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
}

.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #de4343;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}

.productImg{
    width: 55%;
}

.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-style: 75px;
    font-weight: 900;
}

.productDesc{
    font-style: 24px;
    color: gray;
}

.quantities{
    display: flex;
}

.colors,.quantities{
    display: flex;
    margin-bottom: 20px;
}

.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: white;
    margin-right: 10px;
    cursor: pointer;
}

.color:nth-child(2){
    background-color: orange;
}

.color:nth-child(3){
    background-color: gold;
}

.color:nth-child(4){
    background-color: brown;
}

.color:last-child{
    background-color: green;
}

.quantity{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.quantity:hover{
    background-color: black;
    color: white;
}

.productButton{
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.gallery{
    padding: 50px;
    display: flex;
}

.galleryItem{
    flex: 1;
    padding: 50px;
}

.galleryImg{
    width: 100%;
}

.newSeason{
    display: flex;
}

.nsItem{
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

.nsImg{
    width: 100%;
    height: 500px;
}

.nsTitle{
    font-size: 40px;
}

.nsButton{
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
}

footer{
    display: flex;
}

.footerLeft{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.fMenuTitle{
    font-size: 16px;
}

.fMenuList{
    padding: 0;
    list-style: none;
}

.fListItem{
    margin-bottom: 10px;
    color: gray;
}

.footerRight{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fInput{
    padding: 5px;
}

.fButton{
    padding: 5px;
    background-color: black;
    color: white;
}

.fIcons{
    display: flex;
}

.fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.copyright{
    font-weight: 300;
    font-size: 14px;
}

@media screen and (max-width:480px) {
    nav{
        padding: 20px;
    }

    .search{
        display: none;
    }

    .navBottom{
        flex-wrap: wrap;
    }

    .menuItem{
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }

    .slider{
        clip-path: none;
    }

    .sliderImg{
        width: 90%;
    }

    .sliderBg{
        width: 100%;
        height: 100%;
    }

    .sliderTitle{
        display: none;
    }

    .sliderPrice{
        top: unset;
        bottom: -50;
        left: 0;
        background-color: lightgrey;
    }

    .buyButton{
        right: 0;
        top: 0;
    }

    .features{
        flex-direction: column;
    }

    .product{
        clip-path: none ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productImg{
        width: 80%;
    }

    .productDetails{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
    }

    .productTitle{
        font-size: 50px;
        margin: 0;
    }

    .gallery{
        display: none;
    }

    .newSeason{
        flex-direction: column;
    }

    .nsItem:nth-child(2){
        padding: 50px;
    }

    footer{
        flex-direction: column;
        align-items: center;
    }

    .footerLeft{
        padding: 20px;
        width: 90%;
    }

    .footerRight{
        padding: 20px;
        width: 90%;
        align-items: center;
        background-color: whitesmoke;
    }

    .payment{
        width: 90%;
        padding: 20px;
    }
}
